<h3>Welcome to DAPLearn</h3>
<p>DAPLearn is a simple and free online learning platform. Instructors can creaate courses and students can register for courses which include assignments, quizes and support forums.</p>
<a href="/users/signup" class="button">Sign up</a>
<p>You can signup for free classes</p>